{{#each vegetables as |vegetable|}}



<div>
<!-- <tbody> -->
    <ul class="list" data-id="{{vegetable.id}}" data-name="{{vegetable.name}}" data-img="{{vegetable.image}}" data-comments="{{vegetable.comments}}">
      <!-- <li>{{vegetable.id}}</li> -->
      <li><h3>{{vegetable.name}}</h3></li>
      <li><img class="image" src={{vegetable.image}} height="150" width="150"></li>
      <br/>
      <li><button data-id="{{vegetable.id}}" class="add-veggie-button dropbtn"> Add </button></li>
      <br/>
      <!-- <li><textarea rows="4" cols="20">{{vegetable.comment}}</textarea></li> -->
    </ul>
<!-- </tbody> -->
</div>




{{/each}}
