{{#each vegetables as |vegetable|}}

<div>
    <ul class="list" data-id="{{vegetable.id}}" data-name="{{vegetable.name}}" data-img="{{vegetable.image}}" data-comments="{{vegetable.comments}}">
      <li><h3>{{vegetable.name}}</h3></li>
      <li><img class="thumbnail" src={{vegetable.image}}></li>
      <li><button data-id="{{vegetable.id}}" class="add-veggie-button dropbtn"> Add </button></li>
      <br/>
    </ul>
</div>

{{/each}}
<!-- #each will follow the code inside it for each value in the gardens table
this data will be displayed in an unodered list
can access data in the vegetables table through chaining: vegetable.name
data- tag specifies what values will be passsed in ajax requests
class names on buttons allow for unique commands based on which button is selected -->
