{{#each vegetables as |vegetable|}}

<div>
    <ul class="list" data-id="{{vegetable.id}}" data-name="{{vegetable.name}}" data-img="{{vegetable.image}}" data-comments="{{vegetable.comments}}">
      <li><h3>{{vegetable.name}}</h3></li>
      <li><img class="image" src={{vegetable.image}} height="150" width="150"></li>
      <br/>
      <li><button data-id="{{vegetable.id}}" class="add-veggie-button dropbtn"> Add </button></li>
    </ul>
</div>

{{/each}}
