<div>
  {{#each gardens as |garden|}}
    {{#if this.user}}
      <li><h3>{{garden.vegetable.name}}</h3></li>
      <li><img class="thumbnail" src={{garden.vegetable.image}}></li>
      <br/>
      <li><textarea rows="4" cols="20">{{garden.vegetable.comments}}</textarea></li>
      <br/>
      <li><button data-id="{{garden.id}}" class="update-comments-button dropbtn"> Edit Comments </button></li>
      <li><button data-id="{{garden.id}}" class="delete-veggie-button dropbtn"> Delete </button></li>
    {{/if}}
{{/each}}
</div>
