<div>
  {{#each gardens as |garden|}}
    {{#if this.user}}
    <div>
      <ul class="list">
      <li><h3>{{garden.vegetable.name}}</h3></li>
      <li><img class="thumbnail" src={{garden.vegetable.image}}></li>
      <br/>
      <li class="theseComments"><textarea class="commentsData" rows="4" cols="20" data-comments="{{garden.comments}}">{{garden.comments}}</textarea></li>
      <br/>
      <li><button  data-target="register-comments" data-id="{{garden.id}}" class="update-comments-button dropbtn"> Edit Comments </button></li>
      <li><button data-id="{{garden.id}}" class="delete-veggie-button dropbtn"> Delete </button></li>
      </ul>
    </div>
    {{/if}}
{{/each}}
</div>

<!-- #each will follow the code inside it for each value in the gardens table
#if will only deiplay when the current user is logged in
this data will be displayed in an unodered list
gardens is a join table, can access data in the vegetables table through chaining: garden.vegetable.name
class theseComments is there to help target the user entered comments
gardens.comments is a new column in the gardens table
data- tag specifies what values will be passsed in ajax requests
class names on buttons allow for unique commands based on which button is selected -->
